/* Custom Stylesheet */
:root{
  --theme-color:#aedadb
}
nav ul a,
nav .brand-logo {
  color: #444;
}

nav a.sidenav-trigger {
  display: block;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: var(--theme-color);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/*===== banner styles ======*/
#banner-background {
  height: 600px;
  background: var(--theme-color);
  position: relative;
}

h1.header.black-text {
  text-transform: uppercase;
  line-height: 2.2rem;
}

.banner-contents {
  width: 60%;
  padding: 60px 0;
}

.banner-contents p.small-content {
  font-size:16px!important;
  font-style: italic;
  color: #333;
}

.banner-contents h5.header.s4.black-text {
  margin: 30px 0;
  font-size: 18px;
}

#banner-img {
  width: 62%;
  height: 124%;
  position: absolute;
  right: -20%;
  top: -20%;
}

#banner-img img {
  width: 100%;
  height: 100%;
}


/*====== tabs styles ======*/
.tabs li.tab a {
  color: #333;
  text-transform: capitalize;
  text-overflow: unset;
}

.tabs .active{
  background-color: #144f91!important;
  color: #fff!important;
}

.tabs .indicator{
  background-color: var(--theme-color)!important;
}

ul.tabs {
  width: 50%;
  margin: 0;
  margin-top: 50px;
}

.tab-widget{
  padding: 0!important;
}

ul.tab-widget-list li {
  margin-bottom: 0;
}
ul.tab-widget-list li:nth-child(2n+1) {
  background: #ddd;
}


/*======= module section styles =======*/
.module-section {
  background-color: var(--theme-color);
}

h4.module-section-title {
  text-transform: uppercase;
}

.module {
  background: #fff;
  padding: 20px;
  text-align: center;
  height: 430px;
  overflow: hidden;
}

h6.module-heading {
  color: #a5226e;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.module-thumbnail img {
  width: 100%;
}

p.module-text {
  text-align: center;
  font-weight: 600;
}
a.btn.module-btn {
  background: #a5226e;
}

.module-bg img {
  width: 100%;
}

.module-bg {
  margin-top: 50px;
  position: relative;
}

.module-contents {
  position: absolute;
  top: 30%;
  left: 38%;
  right: 38%;
  color: #fff;
}

a.btn.module-contents-btn {
  background: #0e508d;
}

.icon-card {
  background: #fff;
  padding: 20px;
  height: 130px;
  overflow: hidden;
}

span.icon {
  font-size: 25px;
  background: #dde2e8;
  padding: 12px;
  border-radius: 100px;
}

h6.icon-card-title {
  color: #919191;
  margin-left: 6px;
  margin-top: 20px;
}

.row.icons-card {
  position: relative;
  top: -82px;
}

a.module-read-more {
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  color: #333;
  position: relative;
  top: -100px;
}


/*======= help content sectiom styles ========*/
.help-contents .arrow-icon {
  background: var(--theme-color);
  font-size: 40px;
  padding: 10px 15px;
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.help-section{
  position: relative;
  padding: 70px 0;
}

p.help-text {
  padding-right: 90px;
}

.help-contents {
  padding: 60px 0;
}

.help-img {
  position: relative;
  left: -130px;
  top: 40px;
}

a.book-now-btn {
  display: flex;
  align-items: center;
  background: var(--theme-color);
  width: 120px;
  position: relative;
  top: 55px;
  left: 140px;
  border-radius: 25px;
  padding: 5px;
}

a.book-now-btn i{
  color: #fff;
  margin-right: 7px;
}

a.book-now-btn span{
  color: #333;
}

h2.help-title {
  letter-spacing: 0.1em;
  font-weight: 500;
  background: #fff;
}

.help-top {
  position: relative;
  z-index: 1003;
}

.help-bottom {
  background: var(--theme-color);
  width: 500px;
  height: 300px;
  position: absolute;
  top: 42%;
  right: 15%;
}

/*======== contact-us-section styles =======*/
.contact-us-section{
  background: var(--theme-color);
  padding: 80px 0;
}

.contact-wrapper {
  background: #f2f2f2;
  padding: 15px;
}

input.input {
  border: 1px solid #666!important;
  padding: 0px 20px!important;
  width: 100%!important;
  box-sizing: border-box!important;
  background: #fff!important;
}

textarea.input-msg {
  height: 230px;
  padding: 10px 20px;
  background: #fff;
  width: 100%;
  resize: none;
}

.form-img img {
  width: 100%;
}

.form-img {
  width: 80%;
  margin: 0 auto;
}

a.btn.form-btn {
  background: #164c8c;
}

/*======= footer styles ======*/

footer {
  background: #333;
}

p.footer-text.white-text {
  padding: 15px 300px;
}