/* Custom Stylesheet */
:root{
  --theme-color:#aedadb
}
nav ul a,
nav .brand-logo {
  color: #444;
}

nav a.sidenav-trigger {
  display: block;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: var(--theme-color);
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#logo-container {
  font-size: 15px;
  text-decoration: underline;
  color: #0f4f8f!important;
}

/*===== banner styles ======*/
#banner-background {
  height: 600px;
  background: var(--theme-color);
  position: relative;
}

h1.header.black-text {
  text-transform: uppercase;
  line-height: 2.2rem;
}

.banner-contents {
  width: 60%;
  padding: 60px 0;
}

.banner-contents p.small-content {
  font-size:16px!important;
  font-style: italic;
  color: #333;
}

.banner-contents h5.header.s4.black-text {
  margin: 30px 0;
  font-size: 18px;
}

#banner-img {
  width: 35%;
  height: 95%;
  position: absolute;
  right: 0%;
  top: -5%;
}

#banner-img img {
  width: 100%;
  height: 100%;
}


/*====== tabs styles ======*/
.tabs li.tab a {
  color: #333;
  text-transform: capitalize;
  text-overflow: unset;
}

.tabs .active{
  background-color: #144f91!important;
  color: #fff!important;
}

.tabs .indicator{
  background-color: var(--theme-color)!important;
}

ul.tabs {
  width: 50%;
  margin: 0;
  margin-top: 50px;
}

.tab-widget{
  padding: 0!important;
}

ul.tab-widget-list li {
  margin-bottom: 0;
}
ul.tab-widget-list li:nth-child(2n+2) {
  background: #ddd;
}

p.col.s4.pkg-title {
  color:#0f4f8f;
  font-weight: 600;
}


/*======= module section styles =======*/
.module-section {
  background-color: var(--theme-color);
}

h4.module-section-title {
  text-transform: uppercase;
  font-weight: 700;
}

.module {
  background: #fff;
  padding: 20px;
  text-align: center;
  height: 450px;
  overflow: hidden;
  margin-bottom: 30px;

}

h6.module-heading {
  color: #a5226e;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

ul.module-list li i {
  margin-right: 10px;
}

.module-thumbnail img {
  width: 100%;
}

p.module-text {
  text-align: center;
  font-weight: 600;
}
a.btn.module-btn {
  background: #a5226e;
}

.module-bg img {
  width: 100%;
}

.module-bg {
  margin-top: 50px;
  position: relative;
}

.module-contents {
  position: absolute;
  top: 20%;
  left: 30%;
  right: 30%;
  color: #fff;
}

h5.module-heading-title {
  font-size: 40px;
}

a.btn.module-contents-btn {
  background: #0e508d;
}

.icon-card {
  background: #fff;
  padding: 20px;
  height: 130px;
  overflow: hidden;
}

.row.icons-card .row .col {
  padding: 0 4px;
}

span.icon {
  font-size: 25px;
  background: #dde2e8;
  border-radius: 100px;
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 3px;
}

h6.icon-card-title {
  color: #919191;
  margin-left: 6px;
  margin-top: 20px;
}

.row.icons-card {
  position: relative;
  top: -82px;
}

a.module-read-more {
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  color: #333;
}


/*======= help content sectiom styles ========*/
.help-contents .arrow-icon {
  background: var(--theme-color);
  font-size: 40px;
  padding: 10px 15px;
  border-radius: 100px;
  width: 60px;
  height: 60px;
}

.help-section{
  position: relative;
  padding: 70px 0;
}

p.help-text {
  padding-right: 90px;
}

.help-contents {
  padding: 60px 0;
}

.help-img {
  position: relative;
  left: -130px;
  top: 40px;
}

a.book-now-btn {
  display: flex;
  align-items: center;
  background: var(--theme-color);
  width: 150px;
  position: relative;
  top: 55px;
  left: 100px;
  border-radius: 25px;
  padding: 5px;
}

a.book-now-btn i{
  color: #fff;
  margin-right: 7px;
}

a.book-now-btn span{
  color: #333;
}

h2.help-title {
  letter-spacing: 0.1em;
  font-weight: 500;
  background: #fff;
}

.help-top {
  position: relative;
  z-index: 1003;
}

.help-bottom {
  background: var(--theme-color);
  width: 500px;
  height: 300px;
  position: absolute;
  top: 42%;
  right: 15%;
}

/*======== contact-us-section styles =======*/
.contact-us-section{
  background: var(--theme-color);
  padding: 80px 0;
}

.contact-wrapper {
  background: #f2f2f2;
  padding: 15px;
}
h5.contact-form-title {
  font-weight: 700;
}

input.input {
  border: 1px solid #666!important;
  padding: 0px 20px!important;
  width: 100%!important;
  box-sizing: border-box!important;
  background: #fff!important;
}

textarea.input-msg {
  height: 230px;
  padding: 10px 20px;
  background: #fff;
  width: 100%;
  resize: none;
}

.form-img img, .form-img-contact img {
  width: 100%;
}

.form-img {
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
}

.form-img-contact {
  width: 100%;
  margin: 0 auto;
}

a.btn.form-btn {
  background: #164c8c;
}



/*======= tutor section ==========*/
.tutor-background img {
  width: 100%;
  height: 100%;
}

.tutor-background {
  height: 530px;
  overflow: hidden;
}

.row.totor-bg-wrapper .col {
  padding: 0;
}

.tutors-wrapper {
  position: relative;
  top: -150px;
}

.tutor-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto;
}
.tutor-img img {
  width: 100%;
  height: 100%;
}

.tutors-wrapper {
  position: relative;
  top: -150px;
}

.tutor-card {
  background: linear-gradient(
45deg
, #f8f8f8a3, #f8f8f894);
  padding: 25px 30px;
  margin-bottom: 30px;
}

h5.tutor-name {
  font-size: 20px;
  font-weight: 500;
}

ul.tutor-list li i {
  color: #0e508d;
  margin-right: 15px;
}

ul.tutor-list li {
  display: flex;
  align-items: center;
}

.tutors-wrapper .row .col {
  padding: 0 5px;
}

a.btn.tutor-book {
  background: #a2d3d7;
  color: #333;
  font-weight: 500;
  margin: 20px 0;
}
ul.tutor-list li span {
  display: inline-block;
  width: 160px;
}




/*========== login page ==========*/
.login-form {
  padding: 100px 0;
}

button.btn.login-btn.grey.lighten-1 {
  width: 100%;
  margin-top: 25px;
}

.login-form form {
  background: #fff;
  padding: 30px;
}

.login-wrapper {
  background-image: linear-gradient(#44444470, #4444448a), url(../images/tutorpage_img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/*========= Register Page ============*/
.btn.white.black-text.file-btn {
  border: 1px solid #333;
}

.register-wrapper {
  padding: 100px 0;
}

.register-form {
  border: 1px solid #333;
  border-right: transparent;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 30px;
}

/*========= Tutor Login ============*/
.login-form.login-form-tutor {
  padding: 50px 0;
}

.login-form.login-form-tutor form {
  box-shadow: 1px 2px 3px rgb(0 0 0 / 50%);
  padding: 20px;
}

h4.form-title.center {
  margin: 0;
  padding-bottom: 10px;
  text-decoration: underline;
  margin-bottom: 20px;
}


/*=========== practice module page ==========*/
.module-circle-card.black {
  width: 185px;
  height: 185px;
  border-radius: 100px;
  padding: 40px;
  text-align: center;
  box-shadow: 1px 2px 15px rgb(0 0 0 / 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.module-circle-card.black:hover {
  box-shadow: 1px 20px 30px rgb(0 0 0 / 50%);
  transition: 0.4s ease;
}

/*============ Mock Exam Page ===========*/
.module-square-card {
  height: 60px;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 6px rgb(0 0 0 / 70%);
}
.exam-mode-wrapper{
  height: 80vh;
  background: var(--theme-color);
}

.practice-modules-wrapper {
  background: var(--theme-color);
}


/*=========== tutors page ===========*/
.tutors-background {
  height: 400px;
  background-size: cover;
  overflow: hidden;
}

.row.totor-bg-wrapper{
  background: var(--theme-color);
}


/*======== About Us Page ==========*/
.about-us-left {
  padding: 30px;
  padding-left: 80px;
}

h5.about-title {
  font-weight: 700;
}

p.about-content-top span {
  text-transform: uppercase;
}

p.about-content-top {
  font-size: 16px;
}

p.about-contents {
  font-size: 14px;
}

p.about-qoute {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}

.about-right img {
  width: 100%;
  height: 100%;
}

.about-right {
  width: 300px;
  padding: 50px;
  margin: 0 auto;
  margin-top: 45px!important;
}


/*========= Mode Page ========*/
a.btn.btn-practice, a.btn.btn-exam {
  background: rgb(71,166,66);
  background: linear-gradient(
90deg
, rgba(71,166,66,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
  width: 220px;
  height: 60px;
  padding: 10px 25px;
  color: #333;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

a.btn.btn-exam{
  background: rgb(234,71,76);
  background: linear-gradient(90deg, rgba(234,71,76,1) 0%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%);
}

/*======= footer styles ======*/

footer {
  background: #333;
}

p.footer-text.white-text {
  padding: 15px 300px;
}